body {
    margin: 0;
    padding: 0;
}

header {
    padding: 6px;
    flex-grow: 1;
}

.btn btn-primary {
    border-radius: 40px !important;
    font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    letter-spacing: 0.25px !important;
    line-height: 16px !important;
    margin-left: 10px !important;
    margin-right: 8px !important;
    min-width: 96px !important;
    padding: 9px 23px !important;
    text-align: center !important;
    vertical-align: middle !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;

}

#apps {

    size: 15px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

#capa {

    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;

    display: flex;
    justify-content: center;
    align-content: center;
}

#go {
    margin-top: 200px;
    height: 92px;
    width: 272px;
}

.bar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #c7c7c7;
}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchbar {
    height: 45px;
    border: none;
    width: 500px;
    font-size: 16px;
    outline: none;
    padding-left: 50px;
}

.voice {
    height: 20px;
    position: relative;

    left: 10px;
}

.teclado {
    margin: 0;
    padding: 0;
    height: 20px;

    position: relative;
    right: 30px;
}

.lupa {
    height: 20px;
    position: relative;
    right: 485px;

}

#botoes {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#sorte {
    margin-left: 8px;
}

#goo {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}


footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid lightgray;
    background: #f2f2f2;

}

.footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid lightgray;
    height: 38px;

}

.links {
    display: flex;
    list-style-type: none;

    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

.links a {
    padding: 10px 10px;
    display: inline;
    text-decoration: none;
    color: gray;
}

.links a:hover {
    text-decoration: underline;
}

#br {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

#gm {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    font-family: arial, sans-serif;
    line-height: normal;
    padding-right: 15px;
}

#gm:hover {
    text-decoration: underline;
}

#im {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
    font-family: arial, sans-serif;
    line-height: normal;
    padding-right: 15px;
}

#im:hover {
    text-decoration: underline;
}